main {
    max-width: 300px;
    padding: 20px;
    position: absolute;
    transform: translate(50%, 50%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

label {
    display: block;
    padding: 10px;
}

input {
    height: 25px;
}

input:hover {
    box-shadow: 0 0 5px gray;
    border: 1;
}

button {
    width: 100%;
    padding: 10px;
    margin: 20px 0 5px;
}
